@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap");

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* Button */
.btnweb {
  border-radius: 50px;
  font-weight: 400;
  background-image: linear-gradient(to right, #d0212e, #f2912c);
  color: #fff;
  height: 40px;
  text-decoration: none !important;
  box-shadow: none !important;
  border: none;
}

.btnweb:hover {
  color: #fff;
}
/* Button End */

/* NavBar Start */
.navbar {
  background-color: transparent;
}

.floatingNav {
  background-color: #fefefe;
  box-shadow: 0 2.6px 2.6px 0px rgba(0, 0, 0, 0.06);
  transition: 0.6s;
}

.navbar li a {
  margin: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #131416;
}

.navbar li a:hover {
  color: #f35f00;
  transition: 0.3s;
}

.navbar .btn {
  margin-left: 10px;
}

@media (max-width: 991px) {
  .navbar ul {
    align-items: center;
  }
  .navbar .btn {
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 0px;
    min-width: 120px;
  }
}
/* NavBar End */

/* Landing Start */
.topBanner {
  height: 100vh;
}

.topBanner .background {
  width: 100%;
  left: 0;
  position: absolute;
  max-width: 100%;
  height: auto;
}

.topBanner .leftImg {
  max-width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.topBanner .rightImg {
  right: 0;
  top: 0;
  position: absolute;
}

.topBanner .leftSide {
  padding-left: 50px;
  margin-top: 13%;
  margin-bottom: 13%;
}

.topBanner .leftSide h5 {
  color: #f35f00;
  margin-bottom: 20px;
}

.topBanner .leftSide h1 {
  font-size: 65px;
  font-weight: 700;
  color: #131416;
  line-height: 1.2;
}

.topBanner .leftSide h1 span {
  color: #f35f00;
}

.topBanner .leftSide p {
  opacity: 0.8;
  color: #131416;
  font-size: 15px;
  line-height: 26px;
  font-weight: 600;
}

.topBanner .leftSide .btnweb {
  width: 300px;
  height: 60px;
}

.topBanner .rightSide {
  padding-right: 50px;
  margin-top: 13%;
  margin-bottom: 13%;
}

.topBanner .rightSide .card {
  width: 100%;
  height: 100%;
}

.topBanner .rightSide .card {
  padding-top: 40px;
  padding-bottom: 40px;
}

.topBanner .rightSide .card h5 {
  font-size: 25px;
  color: #131416;
  font-weight: 600;
}

.topBanner .rightSide .card p {
  font-size: 15px;
}

.topBanner .rightSide .card form {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 20px;
}

.topBanner .rightSide .card form input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border-radius: 8px;
  color: #131416;
  border-width: 2px;
  border-color: #f35f00;
  box-shadow: none;
}

.topBanner .rightSide .card form button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .topBanner .leftSide h5{
    font-size: 15px;
  }
  .topBanner .leftSide h1{
    font-size: 40px;
  }
  .topBanner .leftSide p{
    font-size: 13px;
  }
  .topBanner .rightSide .card h5{
    font-size: 20px;
  }
  .topBanner .rightSide .card p{
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .topBanner .leftSide{
    margin-top: 20%;
  }
  .topBanner .leftSide h5{
    font-size: 20px;
  }
  .topBanner .leftSide h1{
    font-size: 70px;
  }
  .topBanner .leftSide p{
    font-size: 15px;
  }
  .topBanner .rightSide{
    display: none;
  }
}

@media (max-width: 768px) {
  .topBanner .leftSide{
    margin-top: 30%;
  }
  .topBanner .leftSide h5{
    font-size: 20px;
  }
  .topBanner .leftSide h1{
    font-size: 60px;
  }
  .topBanner .leftSide p{
    font-size: 15px;
  }
  .topBanner .rightSide{
    display: none;
  }
}

@media (max-width: 576px) {
  .topBanner .leftSide{
    padding-left: 20px;
    margin-top: 50%;
  }
  .topBanner .leftSide h5{
    font-size: 15px;
  }
  .topBanner .leftSide h1{
    font-size: 35px;
  }
  .topBanner .leftSide p{
    font-size: 10px;
  }
  .topBanner .rightSide{
    display: none;
  }
}
/* Landing End */

/* Course Start */
.courses {
  padding-left: 50px;
  padding-right: 50px;
}

.coursecard {
  overflow-x: auto;
  margin-top: 60px;
  color: #131416;
}

.coursecard:hover {
  transform: scale(1.04);
  transition: 0.5s;
}

.coursecard .card-body .card-title {
  font-size: 20px;
  font-weight: 600;
}

.coursecard .card-body .card-text {
  font-size: 15px;
}

.coursecard .card-body .course-ratandpri ul {
  display: flex;
  padding-left: 0;
  margin-left: 0;
  align-items: center;
  justify-content: space-between;
}

.coursecard .card-body .course-ratandpri ul li {
  list-style-type: none;
  font-size: 14px;
}

.coursecard .card-body .course-ratandpri .ratting {
  color: #e59819;
}

.coursecard .card-body .course-ratandpri ul li i {
  margin-right: 10px;
}

.coursecard .card-body .course-ratandpri ul .price {
  font-size: 24px;
  font-weight: 800;
}

.coursecard .card-body .course-ratandpri ul s {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
}

.coursecard .card-body .course-author ul {
  display: flex;
  padding-left: 0;
  margin-left: 0;
}

.coursecard .card-body .course-author ul li {
  list-style-type: none;
  font-weight: 500;
  margin-right: -15px;
}

.coursecard .card-body .course-author ul li img {
  width: 40px;
  height: 40px;
}

.coursecard .card-body .course-author ul li .extra-author {
  background-color: #5a5a5a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #ffffff;
}

.coursecard .card-body .course-info ul {
  display: flex;
  padding-left: 0;
  margin-left: 0;
  align-items: center;
  justify-content: space-between;
}

.coursecard .card-body .course-info ul li {
  font-size: 12px;
  font-weight: 600;
  list-style-type: none;
  margin-right: 15px;
  margin-bottom: 5px;
}

.coursecard .card-body .course-info .language {
  background-color: #e5f0fd;
  padding: 5px;
  border-radius: 5px;
}

.coursecard .card-body .course-info ul li i {
  margin-right: 5px;
}

.owl-carousel .owl-dots button {
  visibility: hidden;
}

.title {
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
  color: #131416;
}

.title h2 {
  font-size: 32px;
  font-weight: 700;
}

.title p {
  opacity: 0.8;
  font-size: 14px;
  font-weight: 500;
}

.title button {
  border-radius: 5px;
  font-weight: 600;
  width: 150px;
  height: 50px;
  background: none;
  background-color: #f4f1fe;
  color: #f35f00;
}

.title button:hover {
  color: #fff;
  background-image: linear-gradient(to right, #d0212e, #f2912c);
  transition: 0.8s;
}

@media (max-width: 768px) {
  .title h2{
    font-size: 30px;
  }
  .title p{
    font-size: 15px;
  }
  .title button{
    width: 100%;
  }
}

@media (max-width: 576px) {
  .title {
    padding: 0px;
  }
  .title h2{
    font-size: 20px;
  }
  .title p{
    font-size: 10px;
  }
  .courses {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Course End */

/* Become Teacher Start*/
.becomeTeacher {
  background-color: #f7f8fb;
  margin-top: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.becomeTeacher .leftSide {
  padding-left: 50px;
}

.becomeTeacher .rightSide {
  padding-right: 50px;
}

.becomeTeacher span {
  color: #f35f00;
}

.becomeTeacher .rightSide h1 {
  color: #131416;
  font-size: 2.8rem;
  font-weight: 700;
}

.becomeTeacher .rightSide p {
  margin-top: 20px;
  color: #131416;
  opacity: 0.8;
}

.becomeTeacher .rightSide .buttons {
  margin-top: 30px;
}

.becomeTeacher .rightSide .buttons button {
  height: 60px;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 600;
}

.becomeTeacher .rightSide .buttons .btnDark {
  margin-right: 20px;
  background: none;
  color: #fff;
  background-color: #131416;
  border: 2px solid #131416;
}

.becomeTeacher .rightSide .buttons .btnDark:hover {
  background-color: transparent;
  color: #131416;
}

.becomeTeacher .rightSide .buttons .btnLight {
  background: none;
  color: #131416;
  border: 2px solid #131416;
}

.becomeTeacher .rightSide .buttons .btnLight:hover {
  background-color: #131416;
  color: #fff;
  transition: 0.5s;
}

@media (max-width: 576px) {
  .becomeTeacher .leftSide{
    padding-left: 20px;
  }
  .becomeTeacher .rightSide h1{
    font-size: 25px;
  }

  .becomeTeacher .rightSide p{
    font-size: 12px;
  }
  .becomeTeacher .rightSide .buttons button{
    width: 180px;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Become Teacher End*/

/* findCareer Start */
.rightCareer {
  background-image: linear-gradient(to right, #d0212e, #f2912c);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.rightCareer h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.rightCareer p {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.rightCareer button {
  background: none;
  background-color: #fff;
  color: #131416;
  border-radius: 10px;
  border: 2px solid #fff;
  height: 60px;
  font-weight: 500;
  padding-left: 50px;
  padding-right: 50px;
}

.rightCareer button:hover {
  background-color: transparent;
  transition: 0.5s;
}

@media (max-width: 576px) {
  .rightCareer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .rightCareer button{
    min-width: 100%;
  }
}
/* findCareer End */

/* Working Start */
.working {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.working .workingTitle h2 {
  color: #131416;
  font-size: 40px;
  font-weight: 700;
}

.working .workingTitle h2 span {
  color: #f35f00;
}

.working .workingTitle p {
  font-size: 14px;
  font-weight: 500;
}

.working .workingCon {
  margin-top: 50px;
}

.working .workingCon .backgroundFill {
  background-color: #e5f0fd;
  min-width: 80px;
  min-height: 80px;
  border-radius: 100%;
}

.working .workingCon .backgroundFill i {
  font-size: 35px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f35f00;
}

.working .workingCon .titleandDec {
  margin-left: 50px;
}

.working .workingCon .titleandDec h4 {
  color: #131416;
  font-weight: 600;
  font-size: 17px;
}

.working .workingCon .titleandDec p {
  font-weight: 500;
  opacity: 0.9;
  margin-top: 5px;
  font-size: 15px;
  line-height: 26px;
}
/* Working End */

/* testCount Start */
.testCount {
  background-color: #f7f8fb;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.testCount .testcountTitle h2 {
  color: #131416;
  font-size: 40px;
  font-weight: 700;
}

.testCount .testcountTitle p {
  color: #131416;
  opacity: 0.8;
  font-size: 14px;
  font-weight: 500;
}

.testCount .counter h2 {
  color: #f35f00;
  font-size: 40px;
  font-weight: 700;
}

.testCount .counter p {
  color: #131416;
  opacity: 0.8;
  font-size: 14px;
  font-weight: 500;
}

.testmonial_slide {
  padding-top: 100px;
  padding-bottom: 80px;
  width: 50%;
  margin: auto;
  text-align: center;
}
.testmonial_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testmonial_slide p {
  color: #131416;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin: 40px 0 20px 0;
}

.testmonial_slide h3{
  font-size: 100px;
  font-weight: 700;
  color: #f35f00;
}

.testmonial_slide h4 {
  margin-top: 100px;
  color: #131416;
  font-size: 18px;
  font-weight: 600;
}

.testmonial_slide h5 {
  color: #131416;
  opacity: 0.7;
  font-size: 14px;
}

.testmonial_slide i{
  color: #f35f00;
  font-size: 50px;
}

.testCount .carousel-control-next i,
.testCount .carousel-control-prev i {
  color: #131416;
  font-size: 35px;
}
/* testCount End */

/* Footer Start */
.footer_area {
  background: #fbfbfd;
}

.footer_area .btn {
  margin-top: 20px;
}

.footer_top {
  padding-top: 60px;
  position: relative;
  overflow-x: hidden;
}
.footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer_area .footer_bottom i {
  color: red;
}

.footer_bottom p {
  font-size: 14px;
  line-height: 20px;
  color: #5a5a5a;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.footer_top .f_widget.link-widget .f_list li a:hover {
  color: #f35f00;
}
.footer_top .f_widget.link-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.link-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.link-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.link-widget .f_list {
  margin-bottom: 0px;
}
.footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #5a5a5a;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer_top .f_social_icon a:hover {
  background: #f35f00;
  border-color: #f35f00;
  color: white;
}
.footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.footer_top .f-title {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #333333;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}

.footer_top .f_widget.link-widget .f_list li a {
  color: #5a5a5a;
}

.footer_top .footer_bg {
  position: relative;
  background: url("../Images/background.svg") no-repeat scroll center 0;
  width: 100%;
  height: 302px;
}

@media only screen and (max-width: 768px) {
  .footer_area .footer_top {
    padding-top: 40px;
  }
  .footer_bottom p {
    text-align: center;
    font-size: 13px;
  }
}
/* Footer End */

/* 404 Page Start */
.containerPage h2 {
  margin-top: 200px;
  font-size: 5rem;
  font-weight: 900;
  color: #333333;
}
/* 404 Page End */