body{
    background-color: #202427;
    font-family: 'Roboto', sans-serif;
}

.login{
    color: #fff;
}

.login form input, .login form input:focus, .login form input:-webkit-autofill{
    color: #fff;
    background-color: transparent !important;
    outline: none;
    box-shadow: none;
    border:  1px solid #f76b1c;
}

.login form input::placeholder{
    color: #fff;
}

.login form button{
  border-radius: 5px;
  font-weight: 400;
  background-image: linear-gradient(to right, #d0212e, #f2912c);
  color: #fff;
  height: 40px;
  width: 100px;
  margin-left: 20px;
  text-decoration: none !important;
  box-shadow: none !important;
  border: none;
}

.head{
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
}
.head h5{
    font-size: 25px;
    color: #ffffff;
    font-weight:700 ;
}

.head p{
   color: #ffffff;
   font-weight: 100; 
}

@media (max-width: 460px) {
    .head h5{
        font-size: 18px;
    }
    .head p{
        font-size: 13px; 
     }
}

.cardcontainer .card{
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
}

.cardcontainer .card:hover{
    transform: scale(1.04);
    transition: 0.5s;
}

.cardcontainer .card1{
    background: linear-gradient(150deg, #fad961, #f76b1c 100%);
}

.cardcontainer .card2{
    background: linear-gradient(150deg, #13f1fc, #0470dc 100%);
}

.cardcontainer .card3{
    background: linear-gradient(150deg, #b1ea4d, #459522 100%);
}

.cardcontainer .card4{
    background: linear-gradient(150deg, #F36265, #961276 100%);
}

.cardcontainer .card-body{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

.cardcontainer .card-body i{
    padding-right: 20px;
}

.cardcontainer .card-body h3{
    font-size: 20px;
}