@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body{
    background-color: rgb(29, 26, 26);
    font-family: 'Nova Square', cursive;
    color: #ffffff;
}

.container{
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 40px;
    border-radius: 4px;
    background: rgb(18, 93, 255);
    font-size: 20px;
    min-width: 50rem;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix{
    padding: 2rem 2.5rem;
    color: #ffffff;
}

.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct{
    background: rgb(11, 233, 36);
}

.incorrect{
    background: rgb(230, 29, 29);
}

#hud{
    display: flex;
    justify-content: space-between;
}



#hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}

#progressBar{
    width:20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 50px;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}

#question{
    font-size: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width:768px) {
    .choice-container{
        min-width: 35rem;
    }
    
}

@media screen and (max-width:590px) {
    .choice-container{
        min-width: 30rem;
    }
    
}

@media screen and (max-width:500px) {
    .choice-container{
        min-width: 25rem;
    }
    
}